

/* HERO */

html{
    scroll-behavior: smooth;
}

.project-body{
    display: block;
}

.project-hero{
    min-height: 400px;

    display: flex;
    align-items: center;
    padding: 40px;


    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    background-color:rgba(0,0,0,0.6);
    background-blend-mode: multiply;
}

.project-hero h1{
    color: rgba(255, 255, 255, 0.907);
    font-size: 4rem;
    margin: 0;
}

.project-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/* LEFT */
.project-left{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.back-to-projects{
    position: fixed;
    right: 30px;
    bottom: 30px;

    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(43, 42, 42);
    color: white;

    border: 1px solid rgb(82, 82, 82);
    border-radius: 50%;

    text-decoration: none;
    font-size: 1.2rem;

    transition: 0.2s ease;
}

.back-to-projects:hover{
    background-color: rgb(254, 213, 245);
    color: rgb(54, 54, 54);
}